@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
* {
  box-sizing: border-box;
}
.container-fluid {
  background-color: f9efd7;
}
.logo {
  width: 100px;
  object-fit: contain;
  overflow: hidden;
}

.navbar .logo img {
  width: 100%;
  object-position: 1rem 0.6rem;
}
a {
  text-decoration: none;
  color: black;
  padding: 20px;
}
.navicons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.navitem img {
  width: 50px;
}

.navicons li {
  box-sizing: border-box;
  padding: 20px 28px;
}
.cart {
  width: 50px;
  font-size: 60px;
}
.signupbtn {
  box-sizing: border-box;
  /* width:  80px;
    height: 50px; */
  width: 120px;
  height: 40px;
  border-radius: 6px;
  font-family: "Syncopate", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  background-color: rgb(0, 78, 73);
  box-shadow: 2px 4px 1px rgba(0, 0, 0, 1);
  cursor: pointer;
  font-size: 16px;
  border: 2px solid black;
}

.signupbtn:active {
  background-color: rgb(0, 78, 73, 0.78);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  transform: translateY(3px);
  cursor: pointer;
}
.signupbtn a {
  color: white;
  padding: 0;
}
.navbar .navbar-expand-lg .bg-body-tertiary {
  background-color: #f9efd7;
}
.navicons li a {
  text-decoration: none;
  color: white;
}

/* ------------------------responsive------------ */

@media (max-width: 800px) {
  .navicons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .navitem img {
    width: 35px;
  }

  .navicons li {
    box-sizing: border-box;
    padding: 20px 20px;
  }

  .signupbtn {
    box-sizing: border-box;
    /* width:  80px;
        height: 50px; */
    width: 100px;
    height: 30px;
    border-radius: 6px;
    font-family: "Syncopate", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    background-color: rgb(0, 78, 73);
    box-shadow: 2px 4px 1px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    border: 2px solid black;
  }

  .signupbtn:active {
    background-color: rgb(0, 78, 73, 0.78);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    transform: translateY(3px);
    cursor: pointer;
  }

  .navicons li a {
    text-decoration: none;
    color: white;
  }
}
