@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.HOMEPAGE-MAIN-CONTAINER {
  background-color: rgba(249, 239, 215, 0.781);
  background-image: url("../../../public/assets/hero2.png");
  height: 883px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.headerline {
  /* min-height: 800px; */
  text-align: center;
  position: absolute;
  top: 12%;
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
  align-items: center;
  /* border: 2px solid white; */
  /* transform: translate(-50%,-50%); */
}

.headerline .prakarsh {
  /* font-family: "Syncopate", sans-serif; */
  font-family: "Righteous", cursive;
  /* color: linear-gradient(30deg, #9bb44d, #fff); */
  text-transform: capitalize;
  font-weight: 700;
  font-size: 125px;
  line-height: 120px;
  background: -webkit-linear-gradient(30deg, #9bb44d, #004e49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span {
  color: #004e49;
}
.headerline > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 161.52%; */
  /* border: 2px dashed #9BB44D; */
  height: 156px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Didact Gothic", sans-serif;

  /* font-family: "Arapey", serif; */
  line-height: 165.552%;
  margin-top: 60px;
}

.headerline h2 {
  text-transform: uppercase;
  font-family: "Righteous", cursive;
  /* font-family: "Syncopate", sans-serif; */
  color: #004e49;
  font-size: 23px;
  /* font-weight: 800; */
}

/* .headerline .launch h1 {
  position: absolute;
  top: 616px;
  color: #004e49;
  font-weight: 800;
  width: max-content;
  margin-left: 10%;
} */

.expbtn {
  width: 303px;
  height: 60px;
  z-index: 8888;
  border: 2px solid black;
  padding: 0;
  background-color: #004e49;
  /* color: white; */
  box-shadow: 2px 5px black;
  border-radius: 10px;
  position: relative;
}

.expbtn > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Syncopate", sans-serif;
  text-transform: capitalize;
}

/* .glow {
  font-size: 80px;
  color: #004e49;
  text-align: center;
  animation: animate 5s linear infinite;
  /*  */
/* mix-blend-mode: light; */
/* } */
.glow {
  font-size: 100px;
  color: #004e49;
  text-align: center;
  font-family: "Righteous", cursive;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-box-reflect: below -20px linear-gradient(transparent, transparent, rgb(82, 132, 75, 0.222), rgb(31, 98, 73, 0.222));
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #004e49,
      0 0 40px #004e49, 0 0 50px #004e49, 0 0 60px #004e49, 0 0 70px #004e49;
  }

  to {
    text-shadow: 0 0 20px #9bb44d, 0 0 30px #9bb44d, 0 0 40px #9bb44d,
      0 0 50px #9bb44d, 0 0 60px #9bb44d, 0 0 70px #9bb44d, 0 0 80px #9bb44d;
  }
}

@media (max-width: 800px) {
  .HOMEPAGE-MAIN-CONTAINER {
    background-color: rgba(249, 239, 215, 0.781);
    background-image: url("../../../public/assets/hero2.png");
    height: 883px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .headerline {
    /* min-height: 800px; */
    width: 100%;
    text-align: center;
    position: absolute;
    top: 12%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    /* border: 2px solid white; */
    /* transform: translate(-50%,-50%); */
  }

  .headerline .prakarsh {
    /* font-family: "Syncopate", sans-serif; */
    font-family: "Righteous", cursive;
    /* color: linear-gradient(30deg, #9bb44d, #fff); */
    text-transform: capitalize;
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
    background: -webkit-linear-gradient(30deg, #9bb44d, #004e49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  span {
    color: #004e49;
  }
  .headerline > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 161.52%; */
    /* border: 2px dashed #9BB44D; */
    /* width: 679px; */
    height: 156px;
    text-align: center;
    text-transform: capitalize;
    font-family: "Didact Gothic", sans-serif;

    /* font-family: "Arapey", serif; */
    line-height: 165.552%;
    margin-left: 8%;
    margin-top: 60px;
  }

  .headerline h2 {
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    /* font-family: "Syncopate", sans-serif; */
    color: #004e49;
    font-size: 23px;
    /* font-weight: 800; */
  }

  .expbtn {
    width: 303px;
    height: 60px;
    z-index: 8888;
    border: 2px solid black;
    padding: 0;
    background-color: #004e49;
    /* color: white; */
    box-shadow: 2px 5px black;
    border-radius: 10px;
    position: relative;
  }

  .expbtn > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Syncopate", sans-serif;
    text-transform: capitalize;
  }

  .glow {
    font-size: 100px;
    color: #004e49;
    text-align: center;
    font-family: "Righteous", cursive;
    animation: glow 1s ease-in-out infinite alternate;
    -webkit-box-reflect: below -20px linear-gradient(transparent, transparent, rgb(82, 132, 75, 0.222), rgb(31, 98, 73, 0.222));
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #004e49,
        0 0 40px #004e49, 0 0 50px #004e49, 0 0 60px #004e49, 0 0 70px #004e49;
    }

    to {
      text-shadow: 0 0 20px #9bb44d, 0 0 30px #9bb44d, 0 0 40px #9bb44d,
        0 0 50px #9bb44d, 0 0 60px #9bb44d, 0 0 70px #9bb44d, 0 0 80px #9bb44d;
    }
  }
}
